/*selector universal*/
*{
    padding: 0;
    margin: 0;
}


body{
    background-color: rgb(162, 250, 122);
    color: rgb(255, 255, 255);
}

#contenedor{
    width: 72%;
    height: 100%;
    background-color: rgb(131, 243, 146);
    border-radius: 20px;
}

#encabezado{
    width: 70%;
    background-color: rgb(74, 131, 77);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}

#menu{
    height: 4%;
    background-color: rgb(120, 204, 103);
    margin: 1em;
    border-radius: 5px;
 

}

ul{
    text-align: center;
    padding: 10px;
}

li{
    display:inline;
    padding: 10px,30px;
    margin: 3em;
}

li a:hover{
    color: rgb(3, 12, 1);
    text-decoration:none;
    list-style: none;
}

.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: black;
}

#contenido{
    height: 75%;
    width: 58%;
    background-color: rgb(74, 177, 83);
    margin: 0.5em;
    display:inline-block;
    border-radius: 20px;
    text-align: center;
}

.img{
    width: 50%;
    border-radius: 10px;
    justify-content: center;
    
}

.encabezado-articulo{
    padding: 10px;
    text-align: center;
    background-color:rgb(16, 90, 40);
  
    margin: 1em 2em;
    border-radius: 5px;
}



#fueraSeccion{
   border-radius: 20px;
    width: 30%;
    height: 1074px;
    background-color: rgb(103, 182, 92);
    margin: 0.5em;
    display:inline-block; 
    vertical-align: top;
  
}

.encabezado-aside{
    padding: 10px 10px;
    text-align: center;
    background-color:rgb(16, 90, 40);
    color: white;
    margin: 1em 2em;
    border-radius: 5px;
}

.lista-aside{
    padding: 20px;
}

.lista-aside li{
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 0 2px;
    color: black;

}

.menu-aside{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 0 2px;
    list-style: square;
    color: black;
}

#pie{
   
    background-color: rgb(46, 230, 0);
    margin: 1.5em;
    text-align: center;
    padding: 5px;

}

#pie h4{
    padding: 15px;
    font-size: 15px;
    color: black;
    background-color: rgb(102, 182, 70);
}