*{
    padding: 0;
    margin: 0;
}

h1{
    background: rgb(14, 134, 14);
    color: rgb(255, 255, 255);
    
    padding: 40px;
    margin: 10px;
    font-size: 60px;
    width: 870px;
}

ul{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    background: rgb(14, 134, 14);
     margin: 15px;
    padding: 15px;
    color: rgb(255, 255, 255);
    width: 920px;
}

li{
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

li a{
    color: white;
    font-family:sans-serif;
    font-size: 20px;
}

li a:hover{
    color: rgb(204, 5, 5);
    text-decoration:none;
    list-style: none;
}

.contenedor{
    border: solid 5px rgb(14, 134, 14);
    margin: 10px;
    margin-bottom: 5px;
    width: 70%;
}
h2{
    font-size: 30px;
    margin-bottom: 10px;
    
}

.contenImag{
    display:inline-block;
    font-family: sans-serif;
    padding: 16px;

}

.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    font-size: 15px;
}

.pie{
    justify-content: center;
    background: red;
    color: white;
    width: 875px;
    padding: 40px;
}